/* MONITOR MEDIANO  */
@media (min-width: 1500px) and (max-width: 1750px) {
    
     .container-info {
         background-size: 100%;
     }
     .container-carousel {
         background-size: 75%;
         height: 100%;
         padding-top: 1%;
     }
     .tamaño-carousel {
         width: 45%;
         padding-bottom: 1%;
     }
     .container-form {
         background-size: 25%;
     }
     .form {
         width: 27%;
     }
 } 
 
 /* MONITOR LAPTOP L */
 @media (min-width: 1201px) and (max-width: 1499px) {
    .logo {
        width: 13%;
    }
    .container-info {
         background-size: 100%;
     }
     .card-cat {
         width: 23%;
     }
     .card-cat p {
         font-size: 1.4rem;
     }
     .fondo-nave {
         background-position-x: 80%;
     }
     .card-cat img:hover {
         border-radius: 65%;
     }
     .container-carousel {
         background-size: 85%;
         height: 100%;
         padding-top: 1%;
     }
     .tamaño-carousel {
         width: 50%;
         padding-bottom: 1%;
     }
     .container-form {
         background-size: 22%;
     }
     .form {
         width: 29%;
     }
     .nave-black img {
        width: 70%;
    }
    .logo-footer img {
        width: 90%;
    }
 }
 
 /* MONITOR LAPTOP */
 @media (min-width: 1025px) and (max-width: 1200px) {
    .logo {
        width: 13%;
    }
     .container-info {
         background-size: 100%; 
     }
     .card-cat {
         width: 24%;
     }
 
     .card-cat p {
         font-size: 1.3rem;
     }
     .fondo-nave {
         background-position-x: 90%;
     }
     .card-cat img:hover {
         border-radius: 60%;
     }
     .container-carousel {
         background-size: 100%;
         height: 100%;
     }
     .container-carousel {
         background-size: 85%;
         height: 100%;
         padding-top: 1%;
     }
     .tamaño-carousel {
         width: 50%;
         padding-bottom: 1%;
     }
     .container-form {
         background-size: 17%;
     }
     .form {
         width: 35%;
     }
     .nave-black img {
        width: 60%;
    }
    .logo-footer img {
        width: 80%;
    }
 }
 
 /* TABLET */
 @media (min-width: 769px) and (max-width: 1024px) {
    .logo {
        width: 13%;
    }
    .lista-nav li {
        padding-right: 2.5rem;
    }
    .lista-nav img {
        width: 1rem;
    }
    .account {
        width: 10%;
    }
     .container-info {
         background-size: 100%; 
     }
     .card-cat {
         width: 24%;
     }
 
     .card-cat p {
         font-size: 1.3rem;
     }
     .fondo-nave {
         background-position-x: 100%;
         background-position-y: 1%;
     }
     .card-cat img:hover {
         border-radius: 55%;
     }
     .container-carousel {
         background-size: 100%;
         height: 100%;
     }
     .container-carousel {
         background-size: 100%;
         height: 100%;
         padding-top: 1%;
     }
     .tamaño-carousel {
         width: 60%;
         padding-bottom: 1%;
     }
     .container-form {
         background-image: none;
     }
     .form {
         width: 44%;
     }
     .nave-black img {
        width: 60%;
    }
    .logo-footer img {
        width: 80%;
    }
 }
 
 /* MOBILE L */
 @media (min-width: 481px) and (max-width: 768px) {
    .navbar {
        flex-direction: column;
         align-items: center;
         margin: 0px;
    }
    .logo {
        width: 20%;
    }
    .lista-nav li {
        padding-right: 1rem;
    }
    .lista-nav img {
        width: 0.8rem;
        padding-bottom: 5px;
    }
    .account {
        width: 10%;
    }
    .container-info {
         background-image: url("./img/info-mob.png");
         background-size: 50%;
         background-position: 0%;
     }
     .container-cards {
         flex-direction: column;
         align-items: center;
         margin: 0px;
     }
     .card-cat {
         width: 60%;
         margin-top: 10%;
     }
     .card-cat img {
         object-position: top;
     }
     .fondo-nave {
         background-image: none;
     }
     .container-carousel {
         background-size: 100%;
         height: 100%;
     }
     .container-carousel {
         background-size: 110%;
         height: 100%;
         padding-top: 1%;
     }
     .tamaño-carousel {
         width: 70%;
         padding-bottom: 1%;
     }
     .container-form {
         background-image: none;
         flex-direction: column;
         align-items: center;
     }
     .form {
         width: 60%;
     }
     .nave-black {
        opacity: 0;
        width: 0%;
    }
    .logo-footer img {
        width: 70%;
    }
 }
 
 /* MOBILE M */
 @media (min-width: 320px) and (max-width: 480px) {
    .navbar {
        flex-direction: column;
         align-items: center;
         margin: 0px;
    }
    .logo {
        width: 25%;
    }
    .lista-nav li {
        padding-right: 1rem;
    }
    .lista-nav img {
        width: 0.8rem;
        padding-bottom: 5px;
    }
    .account {
        width: 10%;
    }
     .container-info {
         background-image: none;
     }
     .container-info h2, .container-info h3 {
         width: 100%;
         padding-left: 10%;
     }
     .info1 {
         width: 70%;
         
         text-align: center;
     }
     .container-cards {
         flex-direction: column;
         align-items: center;
     }
     .card-cat {
         width: 80%;
         margin-top: 10%;
     }
     .fondo-nave {
         background-image: none;
     }
     .container-carousel {
         background-size: 100%;
         height: 100%;
     }
     .container-carousel {
         background-size: 110%;
         height: 100%;
         padding-top: 1%;
     }
     .tamaño-carousel {
         width: 100%;
         padding-bottom: 1%;
     }
     .container-form {
         background-image: none;
         flex-direction: column;
         align-items: center;
     }
     .form {
         width: 80%;
     }
     .nave-black img {
        width: 50%;
    }
    .logo-footer img {
        width: 70%;
    }
    .nave-black {
        opacity: 0;
        width: 0%;
    }
    .logo-footer img {
        width: 50%;
    }
 }
 
 /* MOBILE S */
 @media (min-width: 0px) and (max-width: 319px) {
    .navbar {
        flex-direction: column;
         align-items: center;
         margin: 0px;
    }
    .logo {
        width: 25%;
    }
    .lista-nav li {
        padding-right: 1rem;
    }
    .lista-nav img {
        width: 0.8rem;
        padding-bottom: 5px;
    }
    .account {
        width: 10%;
    }
     .container-info {
         background-image: none;
     }
     .container-cards {
         flex-direction: column;
         align-items: center;
     }
     .card-cat {
         width: 90%;
         margin-top: 10%;
     }
     .fondo-nave {
         background-image: none;
     }
     .container-carousel {
         background-size: 100%;
         height: 100%;
     }
     .container-carousel {
         background-size: 110%;
         height: 100%;
         padding-top: 1%;
     }
     .tamaño-carousel {
         width: 100%;
         padding-bottom: 1%;
     }
     .container-form {
         background-image: none;
         flex-direction: column;
         align-items: center;
     }
     .form {
         width: 70%;
     }
     .nave-black {
        opacity: 0;
        width: 0%;
    }
    .logo-footer img {
        width: 50%;
    }
 }
 
 