html{
    scroll-behavior: smooth;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit !important;    
}

.no-sel{ 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}  

.navbar {
    width: 100%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.897);
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 4;
    box-sizing: border-box;   
    
}

.logo {
    width: 10%;
}

.logo img {
    width: 100%;
}

.lista-nav {
    width: 40%;
}

.lista {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0px;
    box-sizing: border-box;
    white-space: nowrap;
}

.lista-nav li {
    padding-right: 3rem;
    color: black;
    font-size: 2rem;
    font-family: 'Patrick Hand', cursive;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
    font-weight: bold;
    letter-spacing: -1px;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    cursor: pointer;
}

.lista-nav img {
    width: 1.2rem;
    filter: drop-shadow(2px 2px 2px rgba(150, 150, 150, 1));
    padding-bottom: 10px;
}

.lista-nav li:hover {
    -webkit-transform:scale(1.1);
    transform:scale(1.3);   
}

.account {
    width: 15%;
    display: flex;
    justify-content: space-around;
    white-space: nowrap;
    align-items: center;
}

.singup {
    width: 20%;
    font-family: 'Patrick Hand', cursive;
    font-weight: bold;
    color: black;
    font-size: 1.3rem;
    padding-left: 30px; 
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

.login {
    width: 40%;
    font-size: 1.8rem;
    font-family: 'Patrick Hand', cursive;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
    font-weight: bold;
    /* letter-spacing: 1px; */
    border-radius: 5%;
    border: 3px solid black;
    padding: 5px 16px;
    box-shadow: 6px 5px 10px -2px rgba(0,0,0,0.50);
    -webkit-box-shadow: 6px 5px 10px -2px rgba(0,0,0,0.50);
    -moz-box-shadow: 6px 5px 10px -2px rgba(0,0,0,0.50);
    transition: all 0.1s ease-in-out;
}

.singup:hover {
    text-decoration: underline; 
}

.login:active {
    transform: translateY(3px);
    box-shadow: 6px 5px 13px -2px rgba(0,0,0,0.38);
    -webkit-box-shadow: 6px 5px 13px -2px rgba(0,0,0,0.38);
    -moz-box-shadow: 6px 5px 13px -2px rgba(0,0,0,0.38);
}

.portada {
    width: 100%;
    height: 80vh;
    background-color: white;
    background-image: url("./img/fondo-luna-sat.png");
    background-position-x: 11.5%;
    background-position-y: 80%; 
    background-size: 35%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.portada h1 {
    width: 60%;
    background-color: transparent;
    color: black;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.3);
    /* color: white;
    text-shadow: -6px 3px 0px #000000;
    -webkit-text-stroke: 1px black; ORIGINAL */ 
    font-family: 'Francois One', sans-serif;
    text-align: center;
    font-size: 4.7rem;
    text-align: center;
    padding-left: 200px;
    padding-top: 150px;
    margin: 0px;;
    z-index: 2;
    -webkit-transition: all 1s 0.1s ease-in-out;
    -moz-transition: all 1s 0.1s ease-in-out;
    -o-transition: all 1s 0.1s ease-in-out;
    transition: all 1s 0.1s ease-in-out;
}

.portada h1:hover { /* GANAS DE SACAR ESTO */
    color: black;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.3);
    /* color: black;
    -webkit-text-stroke: 2px white; ORIGINAL */
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
}

.astronauta {
    width: 20%;
    padding-top: 5%;
    transition:all 2s ease-in-out;   
}

.astronauta:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);   
}

.container-info {
    width: 100%;
    background-color: black;
    background-image: url("./img/Panthers_b.png");
    background-size: 1500px;
    background-position-x: 50%;
    background-position-y: 60%; 
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.container-info h2 {
    width: 80%;
    background-color: transparent;
    color: white;
    font-family: 'Francois One', sans-serif;
    text-align: center;
    font-size: clamp(2.5rem, 3.5vw, 4rem); 
    padding-top: 5%;
    margin-bottom: 0px;
    padding-left: 30%;
}

.container-info h3 {
    width: 70%;
    color: white;
    font-family: 'Patrick Hand', cursive;
    font-size: clamp(0.9rem, 1.9vw, 2rem); 
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    margin: 0px;
    padding-left: 30%;
}

.card-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 4%;
    padding-right: 13%;
    padding-top: 2%;
}

.info1 {
    width: 50%;
    color: white;
    font-family: 'Patrick Hand', cursive;
    font-size: clamp(0.9rem, 1.4vw, 2rem); 
    letter-spacing: 3px;
    text-align: right;
}

/* .info2 {
    width: 30%;
    color: white;
    font-family: 'Patrick Hand', cursive;
    font-size: 1.9rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
} */

.fondo-nave {
    background-image: url("./img/nave-chiquita.png");
    background-position-x: 75%;
    background-position-y: 6%; 
    background-repeat: no-repeat;
}

.michis {
    text-align: center;
    background-color: transparent;
    color: black;
    font-family: 'Francois One', sans-serif;
    text-align: center;
    /* text-shadow: -6px 3px 0px #000000; */
    font-size: clamp(2.8rem, 3.5vw, 4rem); 
    /* -webkit-text-stroke: 1px white; */
    padding-top: 7%;
}

.container-cards {
    width: 100%;
    display: flex;   
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 5%;
    margin-bottom: 8% ;
}

.card-cat {
    width: 20%;   
}

.card-cat img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    object-position: center;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.5s 0.1s ease-in-out;
    border-radius: 3%;
}

.card-cat img:hover {
    width: 95%;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    border-radius: 50%;
    cursor: url("./img/cursor-pata-chico.png"), auto;
}

.datos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}

.card-cat h3 {
    color: black;
    font-family: 'Londrina Solid', cursive;
    text-align: center;
    font-size: clamp(2rem, 3vw, 4rem); 
    font-weight: bold;
    margin: 0%;   
} 

.card-cat p {
    margin: 0%;
    font-family: 'Londrina Solid', cursive;
    font-size: clamp(1rem, 2.3vw, 2rem); 
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    /* text-transform: uppercase; */
}

.container-carousel {
    width: 100%;
    height: 90vh;
    background-color: black;
    background-image: url("./img/fondo-galeria.png");
    background-size: 90%;
    background-position-x: 50%;
    background-position-y: 70%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   /*  padding-top: 3%;
    padding-bottom: 4%; */
}

.container-carousel h2 {
    background-color: transparent;
    color: white;
    font-family: 'Francois One', sans-serif;
    text-align: center;
    font-size: clamp(2.9rem, 3.9vw, 4.5rem); 
    padding-bottom: 3%;
    margin: 0px;
}

.tamaño-carousel {
    width: 50%;
}

.carousel-inner {
    border-radius: 10px;
}

.container-form {
    width: 100%;
    /* background-color: white; */
    background-color: #ebedf0;
    background-image: url("./img/cohete.png");
    background-position: 50%;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.form {
    width: 26%;
   /*  height: 70vh; */
    margin: 5% 0%;
    padding: 50px 10px;
    border-radius: 1%;
    background-color: white;
    border: 3px solid white;
    box-shadow: 0px 0px 16px -5px rgba(0,0,0,0.57);
    -webkit-box-shadow: 0px 0px 16px -5px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 0px 16px -5px rgba(0,0,0,0.57);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form h3 {
    font-family: 'Francois One', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
}

.form p {
    font-family: 'Londrina Solid', cursive;
    letter-spacing: 1px;
    font-size: 1.3rem;
    font-weight: bolder;
    margin: 0px;
    padding: 10px;
}

.form-datos {
    font-family: 'Londrina Solid', cursive;
    letter-spacing: 1px;
    font-size: 1.5rem;
    font-weight: bolder;   
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    /* text-decoration: underline; */
}

.form-input {
    width: 70%;
    border: solid rgba(170, 170, 170, 0.377); 
    border-width: 0 0 2px 0;
    outline: none;
    font-family: 'Londrina Solid', cursive;
    font-size: 1.3rem;
}
.form-input::-moz-selection, .otro-monto::-moz-selection { 
    color: white;
    background: black; 
}
.form-input::selection, .otro-monto::selection { 
    color: white;
    background: black; 
}

.check-masc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.si-no {
    font-size: 1.3rem;
}
  
.form textarea {
    resize: none;
}

.otro-monto {
    font-size: 1.3rem;
}

.input-tip {
    width: 20%;   
    border: solid rgba(170, 170, 170, 0.377); 
    border-width: 0 0 2px 0;
    outline: none;
    font-family: 'Londrina Solid', cursive; 
    font-weight: bolder; 
    font-size: 1.3rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.form button {
    margin-top: 30px;
    background-color: white;
    border-radius: 5%;
    border: 3px solid black;
    padding: 5px 16px;
    box-shadow: 6px 5px 13px -2px rgba(0,0,0,0.57);
    -webkit-box-shadow: 6px 5px 13px -2px rgba(0,0,0,0.57);
    -moz-box-shadow: 6px 5px 13px -2px rgba(0,0,0,0.57);
    transition: all 0.1s ease-in-out;
}

.check-masc img {
    width: 15%;
    padding-top: 5px;
    transform:rotate(-18deg);
}

.btt-donar {
   margin-top: 18px !important;
}

.form button:active {
    transform: translateY(3px);
    box-shadow: 6px 5px 13px -2px rgba(0,0,0,0.38);
    -webkit-box-shadow: 6px 5px 13px -2px rgba(0,0,0,0.38);
    -moz-box-shadow: 6px 5px 13px -2px rgba(0,0,0,0.38);
}

.footer {
    width: 100%;
    height: 20vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.redes {
    padding-left: 5%;
}
.redes p {
    color: white;
    font-family: 'Londrina Solid', cursive;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 1px;
}

.container-icons i {
    color: white;
    font-size: 2.5em;
    padding: 0px 10px;
}

.icon-mail:hover{
    color: #ea4335;
    cursor: pointer;
}

.icon-twitter:hover{
    color: #1da1f2;
    cursor: pointer;
}

.icon-instagram:hover{
    color: #e1306c;
    cursor: pointer;
}

.icon-twitch:hover {
    color: #9146ff;
    cursor: pointer;
}

.nave-black img {
    width: 80%;
}

.logo-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 5%;
}

.logo-footer p {
    color: white;
    font-family: 'Londrina Solid', cursive;
    font-size: 1rem;
    letter-spacing: 2px;
}


/* MONITOR MEDIANO  */
@media (min-width: 1500px) and (max-width: 1750px) {
   /*  .navbar {
        width: 90%;
    } */

    .container-info {
        background-size: 100%;
    }
    .container-carousel {
        background-size: 75%;
        height: 100%;
        padding-top: 1%;
    }
    .tamaño-carousel {
        width: 45%;
        padding-bottom: 1%;
    }
    
} 

/* MONITOR LAPTOP L */
@media (min-width: 1201px) and (max-width: 1499px) {
    
    .container-info {
        background-size: 100%;
    }
    .card-cat {
        width: 23%;
    }
    .card-cat p {
        font-size: 1.4rem;
    }
    .fondo-nave {
        background-position-x: 80%;
    }
    .card-cat img:hover {
        border-radius: 65%;
    }
    .container-carousel {
        background-size: 85%;
        height: 100%;
        padding-top: 1%;
    }
    .tamaño-carousel {
        width: 50%;
        padding-bottom: 1%;
    }
}

/* MONITOR LAPTOP */
@media (min-width: 1025px) and (max-width: 1200px) {
    
    .container-info {
        background-size: 100%; 
    }
    .card-cat {
        width: 24%;
    }

    .card-cat p {
        font-size: 1.3rem;
    }
    .fondo-nave {
        background-position-x: 90%;
    }
    .card-cat img:hover {
        border-radius: 60%;
    }
    .container-carousel {
        background-size: 100%;
        height: 100%;
    }
    .container-carousel {
        background-size: 85%;
        height: 100%;
        padding-top: 1%;
    }
    .tamaño-carousel {
        width: 50%;
        padding-bottom: 1%;
    }
}

/* TABLET */
@media (min-width: 769px) and (max-width: 1024px) {
    .container-info {
        background-size: 100%; 
    }
    .card-cat {
        width: 24%;
    }

    .card-cat p {
        font-size: 1.3rem;
    }
    .fondo-nave {
        background-position-x: 100%;
        background-position-y: 1%;
    }
    .card-cat img:hover {
        border-radius: 55%;
    }
    .container-carousel {
        background-size: 100%;
        height: 100%;
    }
    .container-carousel {
        background-size: 100%;
        height: 100%;
        padding-top: 1%;
    }
    .tamaño-carousel {
        width: 60%;
        padding-bottom: 1%;
    }
}

/* MOBILE L */
@media (min-width: 481px) and (max-width: 768px) {
    .container-info {
        background-image: url("./img/info-mob.png");
        background-size: 50%;
        background-position: 0%;
    }
    .container-cards {
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }
    .card-cat {
        width: 60%;
        margin-top: 10%;
    }
    .card-cat img {
        object-position: top;
    }
    .fondo-nave {
        background-image: none;
    }
    .container-carousel {
        background-size: 100%;
        height: 100%;
    }
    .container-carousel {
        background-size: 110%;
        height: 100%;
        padding-top: 1%;
    }
    .tamaño-carousel {
        width: 70%;
        padding-bottom: 1%;
    }
}

/* MOBILE M */
@media (min-width: 320px) and (max-width: 480px) {
    .container-info {
        background-image: url("./img/info-mob.png");
        background-size: 70%;
        background-position: 0%;
    }
    .container-cards {
        flex-direction: column;
        align-items: center;
    }
    .card-cat {
        width: 80%;
        margin-top: 10%;
    }
    .fondo-nave {
        background-image: none;
    }
    .container-carousel {
        background-size: 100%;
        height: 100%;
    }
    .container-carousel {
        background-size: 110%;
        height: 100%;
        padding-top: 1%;
    }
    .tamaño-carousel {
        width: 100%;
        padding-bottom: 1%;
    }
}

/* MOBILE S */
@media (min-width: 0px) and (max-width: 319px) {
    .container-info {
        background-image: none;
    }
    .container-cards {
        flex-direction: column;
        align-items: center;
    }
    .card-cat {
        width: 90%;
        margin-top: 10%;
    }
    .fondo-nave {
        background-image: none;
    }
    .container-carousel {
        background-size: 100%;
        height: 100%;
    }
    .container-carousel {
        background-size: 110%;
        height: 100%;
        padding-top: 1%;
    }
    .tamaño-carousel {
        width: 100%;
        padding-bottom: 1%;
    }

}




