* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;    
}

.no-sel{ 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}  


body {
    height: 100%;
    background-color: #ebedf0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-reg {
    width: 40%;
    /* height: 100%;  */
    display: flex;
    box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.69);
    -webkit-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.69);
    -moz-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.69);
}

.card-register {
    width: 55%;  
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
   /*  z-index: 1;
    box-shadow: 7px 1px 13px -7px rgba(0,0,0,1);
-webkit-box-shadow: 7px 1px 13px -7px rgba(0,0,0,1);
-moz-box-shadow: 7px 1px 13px -7px rgba(0,0,0,1); */
}

.card-register h1 {
    color: white;
    font-family: 'Francois One', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: clamp(1.5rem, 2.5vw, 4rem); 
    padding-top: 10%;
    margin: 0px;
}

.container-icons {
    width: 50%;
    text-align: center;
    /* border:  2px solid black;
    border-radius: 10px; */
    margin: 5% 0%;   
}

.container-icons i {
    color: white;
    font-size: clamp(1.7rem, 2.5vw, 2.3rem);
    padding: 10px 10px;  
    box-sizing: border-box;
}

.icon-gmail:hover{
    color: #ea4335;
    cursor: pointer;
}

.icon-twitter:hover{
    color: #1da1f2;
    cursor: pointer;  
}

.icon-face:hover{
    color: 3b5998;
    cursor: pointer;
}

.card-register h3 {
    color: white;
    font-family: 'Londrina Solid', cursive;
    letter-spacing: 1px;
    font-weight: bolder;
    text-align: center;
    font-size: clamp(1.1rem, 1.3vw, 4rem); 
}
form {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.container-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5% 0%;
}

.container-input input {
    height: 50px;
    /* color: black; 
    background: #ffffffc2;  */
    color: white;
    background: transparent;
    border: 2px solid white;
    border-radius: 10px;
    margin: 2% 0%;
    padding: 5px 5px;
    outline: none;
    font-family: 'Londrina Solid', cursive;
    letter-spacing: 1px;
    font-weight: bolder;
    text-align: center;
    font-size: clamp(1rem, 1.1vw, 2rem); 
}

/* .container-input::placeholder {
    color: red;
    opacity: 1;
} */

.container-input::-moz-selection { 
    color: white;
    background: black; 
}
.container-input::selection { 
    color: white;
    background: black; 
}

.card-register button {
    background-color: black;
    border-radius: 5%;
    border: 3px solid white;
    padding: 10px 16px;
    padding: 3% 5%;
    font-family: 'Londrina Solid', cursive;
    letter-spacing: 1px;
    color: white;
    font-size: clamp(1rem, 1.3vw, 4rem); 
    font-weight: bolder;   
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 6px 5px 10px -2px rgba(255, 255, 255, 0.267);
    -webkit-box-shadow: 6px 5px 10px -2px rgba(255, 255, 255, 0.226);
    -moz-box-shadow: 6px 5px 10px -2px rgba(255, 255, 255, 0.205);
    transition: all 0.1s ease-in-out;
}

.card-register button:active {
    transform: translateY(3px);
    box-shadow: 6px 5px 10px -2px rgba(255, 255, 255, 0.38);
    -webkit-box-shadow: 6px 5px 10px -2px rgba(255, 255, 255, 0.38);
    -moz-box-shadow: 6px 5px 10px -2px rgba(255, 255, 255, 0.38);
}

.card-register h4 {
    color: white;
    font-family: 'Londrina Solid', cursive;
    letter-spacing: 1px;
    font-weight: lighter;
    text-align: center;
    font-size: clamp(0.8rem, 0.9vw, 2rem); 
    padding: 5% 0%;
}

.card-register h5 {
    color: white;
    font-family: 'Londrina Solid', cursive;
    letter-spacing: 1px;
    font-weight: lighter;
    text-align: center;
    font-size: clamp(0.9rem, 1vw, 2rem); 
    padding: 3%;
}

.underline {
    text-decoration: underline;
}

.card-img {
    width: 50%; 
    background-color: white;
    background-image: url("./img/fondo-login.jpg");
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    box-shadow: -11px 0px 15px -10px rgba(255, 255, 255, 0.43);
    -webkit-box-shadow: -11px 0px 15px -10px rgba(255, 255, 255, 0.43);
    -moz-box-shadow: -11px 0px 15px -10px rgba(255, 255, 255, 0.43);
}

.card-img img {
    width: 40%;
    padding: 10px 10px;
}